port 6789

jetstream {
    store_dir "/tmp/jetstream"
    max_mem 1G
    max_file 0G
}

authorization {
    users [
        { user: "anonymous", password: "anonymous" }
        { user: "alice", password: "secret" }
        { nkey: UCGW4QHF3RJ5CNKXBA6U6JOSMJG5QLH3UQMBQS353F4PQNRANJQ25ARO }
    ]
}

no_auth_user "anonymous"
